{% extends 'dataCenter/base/list.html' %}
{% load static %}
{% block content %}
<script>
    const WTI = preprocessingJson('{{ WTI | escapejs }}');
    const DUBAI = preprocessingJson('{{ DUBAI | escapejs }}');
    const BRENT = preprocessingJson('{{ BRENT | escapejs }}');
    const GOLD = preprocessingJson('{{ GOLD | escapejs }}');
    const COPPER = preprocessingJson('{{ COPPER | escapejs }}');
    const ALUMINUM = preprocessingJson('{{ ALUMINUM | escapejs }}');
    const NICKEL = preprocessingJson('{{ NICKEL | escapejs }}');
    const ZINC = preprocessingJson('{{ ZINC | escapejs }}');
    const CORN = preprocessingJson('{{ CORN | escapejs }}');
    const WHEAT = preprocessingJson('{{ WHEAT | escapejs }}');
    const SOYBEAN = preprocessingJson('{{ SOYBEAN | escapejs }}');
    const COTTON = preprocessingJson('{{ COTTON | escapejs }}');
</script>
<div class="page">
    <div class="descript">
        <h2>원자재 시세 변화</h2>
    </div>
    <hr>
    <div id="chart">
        <div id = "commodity" class="item big">
            <div class="tab">
                <div id="WTI" class="link-wrapper select" data-type="WTI">
                    <p>원유 WTI</p>
                </div>
                <div id="DUBAI" class="link-wrapper select" data-type="DUBAI">
                    <p>원유 DUBAI</p>
                </div>
                <div id="BRENT" class="link-wrapper select" data-type="BRENT">
                    <p>원유 BRENT</p>
                </div>
                <div id="GOLD" class="link-wrapper select" data-type="GOLD">
                    <p>금</p>
                </div>
                <div id="COPPER" class="link-wrapper select" data-type="COPPER">
                    <p>동</p>
                </div>
                <div id="ALUMINUM" class="link-wrapper select" data-type="ALUMINUM">
                    <p>알루미늄</p>
                </div>
                <div id="NICKEL" class="link-wrapper select" data-type="NICKEL">
                    <p>니켈</p>
                </div>
                <div id="ZINC" class="link-wrapper select" data-type="ZINC">
                    <p>아연</p>
                </div>
                <div id="CORN" class="link-wrapper select" data-type="CORN">
                    <p>옥수수</p>
                </div>
                <div id="WHEAT" class="link-wrapper select" data-type="WHEAT">
                    <p>소맥(밀)</p>
                </div>
                <div id="SOYBEAN" class="link-wrapper select" data-type="SOYBEAN">
                    <p>대두(콩)</p>
                </div>
                <div id="COTTON" class="link-wrapper select" data-type="COTTON">
                    <p>원면</p>
                </div>
            </div>
            <div class="chart-wrap">
                <div class="chart-area" id="chartArea1"></div>
            </div>
        </div>
        <script>
            let items = {
                "WTI": WTI,
                "DUBAI": DUBAI,
                "BRENT": BRENT,
                "GOLD": GOLD,
                "COPPER": COPPER,
                "ALUMINUM": ALUMINUM,
                "NICKEL": NICKEL,
                "ZINC": ZINC,
                "CORN": CORN,
                "WHEAT": WHEAT,
                "SOYBEAN": SOYBEAN,
                "COTTON": COTTON
            };

            $("#chart .item .select").on("click", function (e) {
                e.preventDefault();
                handleSelectClick.call(this, "commodities", 1200, 450);
            });

            $("#chart .item").each(function () {
                setDefault.call(this)
            });
        </script>
    </div>
</div>
<div class="page">
    <div class="descript">
        <h2>오늘 원자재 시세</h2>
        <div id="timeSelect" class="tab">
            <div id="daily" class="link-wrapper select on" data-time="daily">
                <p>일일</p>
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <div id="period" class="link-wrapper select" data-time="period">
                <p>기간</p>
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="listUp">
        <div id="mainSelect" class="tab">
            <div id="all" class="link-wrapper select on" data-main="all">
                <p>전체</p>
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <div id="asia" class="link-wrapper select" data-main="metal">
                <p>금속</p>
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <div id="us" class="link-wrapper select" data-main="energy">
                <p>에너지</p>
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
            <div id="europe" class="link-wrapper select" data-main="farm">
                <p>농산물</p>
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
            </div>
        </div>
        <div class="container">
            {% autoescape off %}
            {{ list_div }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock content %}