<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<table class="defaultTable">
    <tbody>
        <tr>
            <th>이름</th>
            <th>점수</th>
            <th>의견</th>
        </tr>
        <tr id="updownScore">
            <td class="aiName">등락 예측 점수</td>
            <td class="aiScore">48</td>
            <td class="aiDecision">중립</td>
        </tr>
        <tr id="priceScore">
            <td class="aiName">가격 예측 점수</td>
            <td class="aiScore">48</td>
            <td class="aiDecision">중립</td>
        </tr>
        <tr id="mentionScore">
            <td class="aiName">뉴스 언급량 점수</td>
            <td class="aiScore">48</td>
            <td class="aiDecision">중립</td>
        </tr>
        <tr id="positiveScore">
            <td class="aiName">뉴스 긍정도 점수</td>
            <td class="aiScore">48</td>
            <td class="aiDecision">중립</td>
        </tr>
    </tbody>
</table>