<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<div id="investType" class="pagesSignUp">
    <form name="f1">
        <div class="page">
            <div class="descript">
                <h2>투자자 기초정보</h2>
                <p>* 표시는 필수 입력 사항입니다.</p>
            </div>
            <hr>
            <ol class="investDocu">
                <li class="q1">
                    <div class="question">
                        <strong>[연령구분] 현재 고객님의 나이는 어떻게 되십니까?</strong>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexRow">
                            <p class="formWrap"><input type="radio" name="s9" id="radio11_2"
                                    value="1"><label for="radio11_2">만65세 미만</label></p>
                            <p class="formWrap"><input type="radio" name="s9" id="radio11_1"
                                    value="2"><label for="radio11_1">만 65세 이상</label></p>
                        </div>
                    </div>
                </li>
                <li class="q2">
                    <div class="question">
                        <strong>[소득상태] 향후 고객님의 연간수입원에 대한 예상은 어떻게 되십니까?</strong>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexColumn">
                            <p class="formWrap"><input type="radio" name="s1" id="radio1_3"
                                    value="1"><label for="radio1_3">현재 일정한 수입이 없으며, 연금이 주 수입원임</label>
                            </p>
                            <p class="formWrap"><input type="radio" name="s1" id="radio1_2"
                                    value="2"><label for="radio1_2">현재 일정한 수입이 발생하고 있으나, 향후 감소하거나 불안정할
                                    것으로 예상</label></p>
                            <p class="formWrap"><input type="radio" name="s1" id="radio1_1"
                                    value="3"><label for="radio1_1">현재 일정한 수입이 발생하고 있으며, 향후 현재 수준을 유지하거나
                                    증가할 것으로 예상 </label></p>
                        </div>
                    </div>
                </li>
                <li class="q3">
                    <div class="question">
                        <strong>[투자자금의 비중] 기존에 보유하고 계신 총자산 대비 금융자산의 비중은 어느 정도입니까?</strong>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexRow">
                            <p class="formWrap"><input type="radio" name="s2" id="radio2_5"
                                    value="1"><label for="radio2_5">5% 이하</label></p>
                            <p class="formWrap"><input type="radio" name="s2" id="radio2_4"
                                    value="2"><label for="radio2_4">10% 이하</label></p>
                            <p class="formWrap"><input type="radio" name="s2" id="radio2_3"
                                    value="3"><label for="radio2_3">20% 이하</label></p>
                            <p class="formWrap"><input type="radio" name="s2" id="radio2_2"
                                    value="4"><label for="radio2_2">30% 이하</label></p>
                            <p class="formWrap"><input type="radio" name="s2" id="radio2_1"
                                    value="5"><label for="radio2_1">30% 초과</label></p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="page">
            <div class="descript">
                <h2>투자자 투자경험</h2>
                <p>* 표시는 필수 입력 사항입니다.</p>
            </div>
            <hr>
            <ol class="investDocu" start="4">
                <li class="q4">
                    <div class="question">
                        <strong>[투자경험] 투자해 보신 경험이 있는 것을 모두 선택해 주십시오(중복체크 가능)</strong>
                    </div>
                    <div class="docuItem">
                        <div class="section">
                            <div class="radioFlex flexRow">
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_1_1" name="s3_1_1" id="check1_1"
                                        value="N"><label for="check1_1">주식신용거래</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_1_2" name="s3_1_2" id="check1_2"
                                        value="N"><label for="check1_2">선물/옵션</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_1_3" name="s3_1_3" id="check1_3"
                                        value="N"><label for="check1_3">ELW</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_1_4" name="s3_1_4" id="check1_4"
                                        value="N"><label for="check1_4">원금비보장형ELS/DLS/EL</label></p>
                            </div>
                            <div class="radioFlex flexRow">
                                <p class="formWrap"><input type="radio" name="s3_1" id="radio3_3"
                                        value="1"><label for="radio3_3">1년 미만</label></p>
                                <p class="formWrap"><input type="radio" name="s3_1" id="radio3_2"
                                        value="2"><label for="radio3_2">1년 이상 3년 미만</label></p>
                                <p class="formWrap"><input type="radio" name="s3_1" id="radio3_1"
                                        value="3"><label for="radio3_1">3년 이상</label></p>
                            </div>
                        </div>
                        <div class="section">
                            <div class="radioFlex flexRow">
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_2_4" name="s3_2_4" value="N"
                                        id="check2_4"><label for="check2_4">원금지급형ELS/DLS/ELF</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_2_5" name="s3_2_5" value="N"
                                        id="check2_5"><label for="check2_5">투자자문/일임(Wrap)</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_2_6" name="s3_2_6" value="N"
                                        id="check2_6"><label for="check2_6">외화증권</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_2_1" name="s3_2_1" value="N"
                                        id="check2_1"><label for="check2_1">주식</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_2_2" name="s3_2_2" value="N"
                                        id="check2_2"><label for="check2_2">주식형펀드</label></p>
                                <p class="formWrap"><input type="checkbox"
                                        data-bind="checked: vl.s3_2_3" name="s3_2_3" value="N"
                                        id="check2_3"><label for="check2_3">해외펀드</label></p>
                            </div>
                            <div class="radioFlex flexRow">
                                <p class="formWrap"><input type="radio" name="s3_2" value="1"
                                        id="radio4_3"><label for="radio4_3">1년 미만</label></p>
                                <p class="formWrap"><input type="radio" name="s3_2" value="2"
                                        id="radio4_2"><label for="radio4_2">1년 이상 3년 미만</label></p>
                                <p class="formWrap"><input type="radio" name="s3_2" value="3"
                                        id="radio4_1"><label for="radio4_1">3년 이상</label></p>
                            </div>
                        </div>
                        <div class="section">
                            <div class="radioFlex flexRow">
                                <p class="formWrap">
                                    <input type="checkbox" data-bind="checked: vl.s3_3_1" name="s3_3_1" value="N" id="check3_1">
                                        <label for="check3_1">
                                            채권/혼합평 펀드
                                        </label>
                                </p>
                                <p class="formWrap">
                                    <input type="checkbox" data-bind="checked: vl.s3_3_2" name="s3_3_2" value="N" id="check3_2">
                                        <label for="check3_2">
                                            신탁
                                        </label>
                                </p>
                                <p class="formWrap">
                                    <input type="checkbox" data-bind="checked: vl.s3_3_3" name="s3_3_3" value="N" id="check3_3">
                                        <label for="check3_3">
                                            채권
                                        </label>
                                </p>
                            </div>
                            <div class="radioFlex flexRow">
                                <p class="formWrap"> <input type="radio" name="s3_3" value="1" id="radio5_3">
                                        <label for="radio5_3">
                                            1년 미만
                                        </label>
                                </p>
                                <p class="formWrap"> <input type="radio" name="s3_3" value="2" id="radio5_2">
                                        <label for="radio5_2">
                                            1년 이상 3년 미만
                                        </label>
                                </p>
                                <p class="formWrap"> <input type="radio" name="s3_3" value="3" id="radio5_1">
                                        <label for="radio5_1">
                                            3년 이상
                                        </label>
                                </p>
                            </div>
                        </div>
                        <div class="section">
                            <p class="formWrap">
                                <input type="checkbox" onclick="check_experience()" name="check_no_experience" value="0" id="check4">
                                    <label for="check4">
                                        금융투자상품에 투자해 본 경험이 없음
                                    </label>
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="page">
            <div class="descript">
                <h2>투자자 위험선호도</h2>
                <p>* 표시는 필수 입력 사항입니다.</p>
            </div>
            <hr>
            <ol class="investDocu" start="5">
                <li class="q5">
                    <div class="question">
                        <strong>[투자목적] 고객님은 다음 중 어떤 목적으로 투자하는 편입니까?</strong>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexColumn">
                            <p class="formWrap">
                                <input type="radio" name="s4" value="1" id="radio6_3">
                                <label for="radio6_3">
                                    원금보존 가능성을 포기하기 어렵기 때문에 예적금 수익률 보다 1~2%정도만 더 나오면 됨 
                                    <span class="caution">(투자수익을 고려하나 원금보존이 더 중요)</span>
                                </label>
                            </p>
                            <p class="formWrap">
                                <input type="radio" name="s4" value="2" id="radio6_2">
                                <label for="radio6_2">
                                    예적금 수익률보다 3~5%정도 기대할 수 있다면 원금보존 가능성은 좀 포기할 수 있음 
                                    <span class="caution">(원금보존을 고려하나 투자수익이 더 중요)</span>
                                </label>
                            </p>
                            <p class="formWrap">
                                <input type="radio" name="s4" value="3" id="radio6_1">
                                <label for="radio6_1">
                                    고수익을 기대하고 있으며, 원금손실 가능성은 감수할 수 있음 
                                    <span class="caution">(손실 위험이 있더라도 투자수익이 더 중요)</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="q6">
                    <div class="question">
                        <strong>[투자위험 감수능력] 고객님께서 감내하실 수 있는 투자수익 및 위험수준은 어느정도 입니까?</strong>
                        <p class="caution">(예 : 2008년 금융위기와 같은 상황이 닥쳤을 때, 고객님의 금융자산 변동 감내 수준)</p>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexColumn">
                            <p class="formWrap"><input type="radio" name="s5" value="1" id="radio7_4">
                                <label for="radio7_4">무슨 일이 있어도 투자 원금은 보전되어야 한다.</label></p>
                            <p class="formWrap"><input type="radio" name="s5" value="2" id="radio7_3">
                                <label for="radio7_3">±10% 정도만 변동하더라도, 매도하고 빠져나와야 안심이 될 것 같다
                                    <span class="caution">(±10% 범위 내 감수)</span>
                                </label>
                            </p>
                            <p class="formWrap"><input type="radio" name="s5" value="3" id="radio7_2">
                                <label for="radio7_2">±20% 정도까지는 당황하지 않고 기다리거나 상황에 따라서 추가매수 등 대응도 문제없다
                                    <span class="caution">(±20% 범위 내 감수)</span>
                                </label>
                            </p>
                            <p class="formWrap"><input type="radio" name="s5" value="4" id="radio7_1">
                                <label for="radio7_1">±30% 정도 변동은 버틸 수 있으며, 때때로 그 이상의 변동을 기대하여 적극적으로 운용하려고 한다
                                    <span class="caution">(±30% 범위 내 감수)</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="page">
            <div class="descript">
                <h2>투자자 상품지식수준</h2>
                <p>* 표시는 필수 입력 사항입니다.</p>
            </div>
            <hr>
            <ol class="investDocu" start="7">
                <li class="q7">
                    <div class="question">
                        <strong>[금융상품 지식수준] 고객님의 금융지식 수준(이해도)은 어느 정도라고 생각하십니까?</strong>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexColumn">
                            <p class="formWrap"><input type="radio" name="s6" value="1"
                                    id="radio8_4"><label for="radio8_4">예적금 외에 다른 금융투자상품에 투자해본적이
                                    없음</label></p>
                            <p class="formWrap"><input type="radio" name="s6" value="2"
                                    id="radio8_3"><label for="radio8_3">주식, 채권, 펀드같은 일반적인 상품 정도는 설명만 좀
                                    들으면, 투자할지 여부를 결정할 수 있음</label></p>
                            <p class="formWrap"><input type="radio" name="s6" value="3"
                                    id="radio8_2"><label for="radio8_2">주식, 채권, 펀드같은 일반적인 상품은 설명을 듣지 않아도
                                    잘 알고 있으며, 투자 판단을 스스로 내릴 수 있음</label></p>
                            <p class="formWrap"><input type="radio" name="s6" value="4"
                                    id="radio8_1"><label for="radio8_1">파생상품을 포함한 대부분의 금융투자상품에 대해서 충분히 잘
                                    알고 있음</label></p>
                        </div>
                    </div>
                </li>
                <li class="q8">
                    <div class="question">
                        <strong>[파생상품 투자경험] 파생상품, 파생결합증권 및 파생상품펀드에 투자한 경험은 얼마나 되십니까?</strong>
                    </div>
                    <div class="docuItem">
                        <div class="radioFlex flexRow">
                            <p class="formWrap"><input type="radio" name="s7" value="1"
                                    id="radio9_3"><label for="radio9_3">1년 미만(경험없음)</label></p>
                            <p class="formWrap"><input type="radio" name="s7" value="2"
                                    id="radio9_2"><label for="radio9_2">1년 이상 3년 미만</label></p>
                            <p class="formWrap"><input type="radio" name="s7" value="3"
                                    id="radio9_1"><label for="radio9_1">3년 이상</label></p>
                        </div>
                    </div>
                </li>
            </ol>
            <div class = "buttonSet">
                <div id="submitInvestType" class="link-wrapper select" data-href="/investInfo">
                    <input type="button" value="투자성향 제출하기">
                </div>
            </div>
        </div>
    </form>
</div>
