<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<div class="container">
    <div class="descript">
        <h2>종목 섹터 선택</h2>
    </div>
    <hr>
    <div class="recommendSectorWrapper">
        <div id="kospi" class="recommendSectorContainer">
            <div class="img_wrapper market">
                <img src="../../../resources/img/logo/kospi.svg" />
            </div>
            <div class="columnSplitter">
                <div class="contents container">
                    <div class="link-wrapper select on" data-sector="1">
                        <p>전기전자</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="3">
                        <p>화학</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="5">
                        <p>서비스업</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="7">
                        <p>철강 및 금속</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="9">
                        <p>기계</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="11">
                        <p>음식료품</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="13">
                        <p>전기가스업</p>
                    </div>
                </div>
                <div class="contents container">
                    <div class="link-wrapper select on" data-sector="2">
                        <p>금융</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="4">
                        <p>운수장비</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="6">
                        <p>의약품</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="8">
                        <p>유통업</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="10">
                        <p>운수창고</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="12">
                        <p>통신업</p>
                    </div>
                    <div class="darkMatter select">
                        <p> 하금티화이팅! </p>
                    </div>
                </div>
                <div class="contents container">
                    <div class="link-wrapper select on" data-sector="15">
                        <p>비금속광물</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="17">
                        <p>종이,목재</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="14">
                        <p>건설업</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="16">
                        <p>섬유의복</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="18">
                        <p>의료정밀</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="19">
                        <p>기타</p>
                    </div>
                    <div class="darkMatter select">
                        <p> 하금티화이팅! </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="kosdaq" class="recommendSectorContainer">
            <div class="img_wrapper market">
                <img src="../../../resources/img/logo/kosdaq.svg" />
            </div>
            <div class="columnSplitter">
                <div class="contents container">
                    <div class="link-wrapper select on" data-sector="21">
                        <p>제조</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="24">
                        <p>kosdaq금융</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="26">
                        <p>유통</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="28">
                        <p>통신방송서비스</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="35">
                        <p>농림업</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="30">
                        <p>기타서비스</p>
                    </div>
                    <div class="darkMatter select">
                        <p> 하금티화이팅! </p>
                    </div>
                </div>
                <div class="contents container">
                    <div class="link-wrapper select on" data-sector="22">
                        <p>IT H/W</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="25">
                        <p>사업서비스</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="32">
                        <p>교육서비스</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="34">
                        <p>부동산</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="36">
                        <p>전기,가스,수도</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="37">
                        <p>그 외</p>
                    </div>
                    <div class="darkMatter select">
                        <p> 하금티화이팅! </p>
                    </div>
                </div>
                <div class="contents container">
                    <div class="link-wrapper select on" data-sector="23">
                        <p>IT S/W</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="27">
                        <p>오락·문화</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="29">
                        <p>건설</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="31">
                        <p>숙박·음식</p>
                    </div>
                    <div class="link-wrapper select on" data-sector="33">
                        <p>운송</p>
                    </div>
                    <div class="darkMatter select">
                        <p> 하금티화이팅! </p>
                    </div>
                    <div class="darkMatter select">
                        <p> 하금티화이팅! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>