<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<table class="defaultTable">
    <tbody>
        <tr>
            <th>이름</th>
            <th>점수</th>
            <th>의견</th>
        </tr>
        <tr id="rsiScore">
            <td class="statisticsName">상대 강도 지수(RSI)</td>
            <td class="statisticsScore">48</td>
            <td class="statisticsDecision">중립</td>
        </tr>
        <tr id="stochasticScore">
            <td class="statisticsName">스토캐스틱 오실레이터</td>
            <td class="statisticsScore">48</td>
            <td class="statisticsDecision">중립</td>
        </tr>
        <tr id="momentumScore">
            <td class="statisticsName">모멘텀</td>
            <td class="statisticsScore">48</td>
            <td class="statisticsDecision">중립</td>
        </tr>
        <tr id="obvScore">
            <td class="statisticsName">거래량 분석(OBV)</td>
            <td class="statisticsScore">48</td>
            <td class="statisticsDecision">중립</td>
        </tr>
    </tbody>
</table>